<h1>Hello {{name}}</h1>
<hr>
<h3>NgIf</h3>
<ul>
  <li>Add and removes instead of hide elements</li>
  <li>"template bindings"</li>
  <li>ngIf - remove the element from DOM, detaches it from DOM events, detaches the component from angular change detection and
    destroy it</li>
</ul>
<p *ngIf="true">
  Please show me
</p>
<p *ngIf="false">
  Please hide me
</p>
<hr>
<h3>Why remove rather than hide?</h3>
<ul>
    <li>cons - it keeps listening to event. Angular keeps checking for chages</li>
    <li>pros - showing the element again is quick</li>
</ul>
<p [style.display]="'block'">
    This paragraph is visible.
</p>
<p [style.display]="'none'">
    This paragraph is hidden but still in the DOM.
</p>
