<h1>Hello {{name}}</h1>
<hr>
<h3>NgIf</h3>
<ul>
  <li>Add and removes instead of hide elements</li>
  <li>"template bindings"</li>
  <li>ngIf - remove the element from DOM, detaches it from DOM events, detaches the component from angular change detection and
    destroy it</li>
</ul>
<p *ngIf="true">
  Please show me
</p>
<p *ngIf="false">
  Please hide me
</p>
<hr>
<h3>Why remove rather than hide?</h3>
<ul>
  <li>cons - it keeps listening to event. Angular keeps checking for chages</li>
  <li>pros - showing the element again is quick</li>
</ul>
<p [style.display]="'block'">
  This paragraph is visible.
</p>
<p [style.display]="'none'">
  This paragraph is hidden but still in the DOM.
</p>
<hr>
<h3>Group sibling elements with 'ng-container'</h3>
<ul>
  <li>there's often a root element can anh should host the structural directive</li>
  <li>the grouping element may break the template appearance because css styles neither expect nor accommodate the new layout</li>
  <li>some html elements require all immediate children such as 'select'</li>
</ul>
<div *ngIf="hero">{{hero.name}}</div>

<p>
  I turned the corner
  <span *ngIf="hero">
    and saw {{hero.name}}. I waved
  </span> and continued on my way.
</p>
<!--immediate children-->
<div>
  Pick your favorite hero (
  <label><input type="checkbox" checked (change)="showSad = !showSad">show sad</label>)
</div>
<select [(ngModel)]="hero">
  <span *ngFor="let h of heroes">
    <span *ngIf="showSad || h.emotion !== 'sad'">
      <option [ngValue]="h">{{h.name}} ({{h.emotion}})</option>
    </span>
  </span>
</select>
<hr>
<h3>&lt;ng-container&gt; to the rescue</h3>
<ul>
  <li>&lt;ng-container&gt; is a grouping element that does not interfere styles or layout</li>
</ul>

<p>
  I tured the corner
  <ng-container *ngIf="hero">
    and saw {{ hero.name }}. I waved
  </ng-container>
  and continued on my way.
</p>
<!--immediate children-->
<div>
  Pick your favorite hero (
  <label><input type="checkbox" checked (change)="showSad = !showSad">not sad</label>)
</div>
<select [(ngModel)]="hero">
    <ng-container *ngFor="let hero of heroes">
        <ng-container *ngIf="showSad || hero.emotion !== 'sad'">
            <option [ngValue]="hero">{{ hero.name }} ({{ hero.emotion }})</option>
        </ng-container>
    </ng-container>
</select>
<hr>
<h3>The asterisk (*) prefix</h3>
<div *ngIf="hero" >{{hero.name}}</div>
<!--it translates the *ngIf="..." into a template attribute, template="ngIf ..."-->
<div template="ngIf hero">{{hero.name}}</div>
<!--then it translates the template attribute into a template element-->
<template [ngIf]="hero">
  <div>{{hero.name}}</div>
</template>
<hr>
<h3>Inside *ngFor</h3>
<ul>
  <li>ngFor directive has more features, both required and optional. these features in the string assigned to ngFor (Angular's microsyntax)</li>
  <li>microsyntax parser translates that string into attributes on the &lt;template&gt;</li>
</ul>
<div *ngFor="let hero of heroes; let i=index; let odd=odd; trackBy: trackById" [class.odd]="odd">
  ({{i}}) {{hero.name}}
</div>

<div template="ngFor let hero of heroes; let i=index; let odd=odd; trackBy: trackById" [class.odd]="odd">
  ({{i}}) {{hero.name}}
</div>

<template ngFor let-hero [ngForOf]="heroes" let-i="index" let-odd="odd" [ngForTrackBy]="trackById">
  <div [class.odd]="odd">({{i}}) {{hero.name}}</div>
</template>
<hr>
<h3>Microsyntax</h3>
<ul>
  <li>the let keyword declare a template input variable that you reference within the template</li>
  <li>takes of and trackBy, title-cases and prefixes them with ngFor, yielding the names ngForOf and ngForTrackBy.</li>
  <li>as the ngFor loop through the list, it sets and resets properties. these properties include index and odd and $implicit</li>
  <li>the let-hero wasn't specified. it's intended source is implicit.</li>
</ul>

